@import "tailwindcss";
@import "tw-animate-css";

.light {
  --white: #fff;
  --black: #000;
  --red: #ff0000;
}

.dark {
  --white: #000;
  --black: #fff;
  --red: red;
}

@theme {
  --myWhite: var(--white);
  --black: var(--black);
  --red: var(--red);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
