@import "tailwindcss";
@import "tw-animate-css";

:root{
  --white: #fff;
  --black: #000;
  --blue: blue;
}

.dark {
  --white: #000;
  --black: #fff;
  --blue: blue;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face{
  font-family:"Roboto";
  src:url("/public/fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
  font-wight:500;
}

.bg-\[var\(--blue\)\] {
  background-color: var(--blue);
}
/* Remove or fix this invalid rule */
.bg-\[var\(\)\] {
  /* background-color: var(); */ /* <-- Remove or correct this line */
}
